.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .register-form h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #5865f2;
    margin-bottom: 30px;
  }
  
  .register-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
  }
  
  .register-form label {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .register-form input[type="text"],
  .register-form input[type="email"],
  .register-form input[type="password"] {
    width: 478px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
  }

  .register-form input[type="number"] {
    width: 120px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
  }
  
  .register-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #5865f2;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
  }
  
  .register-form input[type="submit"]:hover {
    background-color: #4a51b7;
  }

  .dob-inputs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 30px;
  }
  
  .dob-input {
    flex-grow: 1;
    margin-right: 30px;
  }
  
  .dob-input:last-child {
    margin-right: 0;
  }
  