.login-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    color: #fff;
  }
  
  .login-container h2 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #5865f2;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  .input-group label {
    color: #000;
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .input-group input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color:#000;
    box-sizing: border-box; /* Đảm bảo kích thước input tính cả padding và border */
  }

  .submit-btn{
    padding: 10px 20px;
    margin: 15px 188px 30px;
  }
      
  .link-register{
    color: #000;
    text-align: center;
  }